@model eCommerce.Models.Order

<div class="cart">
    <a href="@Url.Action("Index","Cart")">
        <div class="cart-number">
            @Model.OrderLines.Sum(x=>x.Qty)
        </div>
        <div class="cart-price">
            @Model.OrderLines.Sum(x => x.Qty * x.UnitPrice).ToString("c");
        </div>
    </a>
</div>